#star {
  position: relative;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animationStar 15s ease-in-out infinite alternate;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

#star::after {
  content: '';
  position: absolute;
  top: var(--height);
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

#star2 {
  position: relative;
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animationStar 20s ease-in-out infinite alternate-reverse;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

#star2::after {
  content: '';
  position: absolute;
  top: var(--height);
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

#star3 {
  position: relative;
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animationStar 25s ease-in-out infinite alternate;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

#star3::after {
  content: '';
  position: absolute;
  top: var(--height);
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--boxShadow);
  z-index: -1;
}

@keyframes animationStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}
