.about-me,
.project,
.resume,
.contact {
  height: calc(100vh - (3 * 44px));
  transition: height ease-in-out 800ms 500ms;
  overflow: hidden;
}

.about-me h2,
.project h2,
.resume h2,
.contact h2 {
  color: greenyellow;
}

.about-me.hidden,
.project.hidden,
.resume.hidden,
.contact.hidden {
  height: 40px;
  transition: height ease-in-out 800ms 500ms;
}

.about-me.hidden h2,
.project.hidden h2,
.resume.hidden h2,
.contact.hidden h2 {
  color: aliceblue;
}

.about-me__title,
.project__title,
.resume__title,
.contact__title {
  display: inline-block;
  text-align: right;
  width: 100%;
  white-space: nowrap;
  transition: width ease-in-out 700ms;
}

.about-me__title.left,
.project__title.left,
.resume__title.left,
.contact__title.left {
  display: inline-block;
  text-align: right;
  width: 0%;
}

.about-me__title:hover,
.project__title:hover,
.resume__title:hover,
.contact__title:hover {
  cursor: pointer;
}

.about-me__content.show,
.project__content.show,
.resume__content,
.contact__content.show {
  opacity: 1;
  transition: opacity 500ms 1300ms ease-in-out;
}

.about-me__content.hidden,
.project__content.hidden,
.resume__content.hidden,
.contact__content.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease-in-out, visibility 600ms;
}
