*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 100%;
}

body {
  background: #212121;
  overflow: hidden;
  height: 100vh;
  color: aliceblue;
}

h2 {
  width: 100%;
  display: block;
  height: 40px;
  position: relative;
  right: 0;
}

section {
  border-bottom: 1px solid aliceblue;
  padding: 0 2rem;
}

strong {
  color: greenyellow;
}


@media all and (max-width: 991px) {
  html {
    font-size: 80%;
  }

  section {
    border-bottom: 1px solid aliceblue;
    padding: 0 .5rem;
  }
}
