.about-me {
  display: flex;
  flex-direction: column;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  height: 100%;
  overflow: hidden;
}

.about-me__content h1 {
  font-size: 4rem;
}

.about-me__content p {
  font-size: 1.5rem;
}

@media all and (max-width: 991px) {

  .about-me__content {
    overflow-y: scroll;
    gap: 1rem;
  }

  .about-me__content h1 {
    font-size: 2rem;
  }
  
  .about-me__content p {
    font-size: 1.2rem;
  }
}